.newArrival h4 , h2{
    text-align: center;
}
.new{
    border: 4px solid #630229;
    border-radius: 20px;
}
.newArrival h4{
    font-size: 15px;
    font-weight: 800;
    margin-top: 30px;
    padding-top: 20px;
}
.newArrival h2{
    font-size: 35px;
    padding-bottom: 40px;
    font-weight: 800;
    letter-spacing: 5px;
    word-spacing: 3px;
}
.newArrivalImg img{
    width: 300px;
    height: 350px;
}
.himNewArrivals{
    padding-bottom: 40px;
}
.herNewArrivals{
    padding-bottom: 40px;
}