.BestSale h4 , h2{
    text-align: center;
}
.BestSale h4{
    font-size: 15px;
    font-weight: 800;
    margin-top: 30px;
    padding-top: 20px;
}
.BestSale h2{
    font-size: 35px;
    padding-bottom: 40px;
    font-weight: 800;
    letter-spacing: 5px;
    word-spacing: 3px;
}
.BestSaleImg img{
    width: 300px;
    height: 350px;
}
.himBestSales{
    background-color: rgb(85, 75, 75);
    padding-bottom: 40px;
}
.herBestSales{
    background-color: rgb(85, 75, 75);
    padding-bottom: 40px;
}

.card{
    width: 300px;
    border-bottom-left-radius: 30px;
    border-end-end-radius: 30px;
}
.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 991px) {
    .best :nth-child(3){
        margin-top:30px;
    }
  
    .BestSaleImg img{
        width: 400px;
        height: 450px;
    }
    .card{
        width: 400px;
    }
}
@media screen and (max-width: 768px) {
    .best :nth-child(2){
        margin-top:30px;
    }
    .BestSaleImg img{
        width: 350px;
        height: 400px;
    }
    .card{
        width: 350px;
    }}
@media screen and (max-width: 400px) {
    .BestSaleImg img{
        height: 300px;
    }}